<!DOCTYPE html>
<html>

<head>
    <title>Goals Achievable</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <div class="header">
        <h1>Добивайтесь целей с нами!</h1>
        <h3>Статьи о личном росте</h3>
    </div>

    <div class="navbar">
        <a href="success">Достижение успеха</a>
        <a href="motivation">Мотивация</a>
        <a class="right" href="profil">Профиль</a>
    </div>

    <div class="row">
        <div class="side">
            <h2>ЦЕЛИ</h2>
            <h5>Нет ничего невозможного</h5>
            <div class="fakeimg1" style="height:200px;"><img src="../static/Mot1.jpg" width="300" height="200"></div>
            <p>Учёные доказали, что люди ставят себе цели..</p>
	    <p>И идут к ним!</p>
        </div>

        <div class="main">
            <h2>МОТИВАЦИЯ В ИСКУССТВЕ</h2>
            <h5>Исследование 2.0, Дектябрь 51, 3066</h5>
            <div class="fakeimg2" style="height:200px;"><img src="../static/Mot3.jpg" width="1015" height="200"></div>
            <p>Новейшие исследования..</p>
            <p>Подтверждают влияние искусства на мотивацию человека! Рисуйте, смотрите аниме!</p>
        </div>
    </div>

    <div class="footer">
        <h2>Продолжение следует..</h2>
    </div>
</body>

</html>