<!DOCTYPE html>
<html>

<head>
    <title>Goals Achievable</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <div class="navbar">
        <a href="index">Главная</a>
    </div>

    <div class="row">
        <div class="side">
            <div class="fakeimg1" style="height:730px;"><img src="../static/Mot2.jpg" width="300" height="722"></div>
        </div>

        <div class="main">
            <h2>МОТИВИРУЮЩИЕ ЦИТАТЫ</h2>
	    <div class="new">
	    <h4>Том Рат</h4>
            <p>Если вы потратите свою жизнь на то, чтобы быть лучшим во всем, вы никогда не станете великим ни в чем.</p> 
	    </div>
	    <div class="new">
	    <h4>Джейн Смайли</h4>
            <p>По моему опыту, существует только одна мотивация, и это - желание. </p>
	    <p>Никакие причины или принципы не могут его сдержать и или противостоять ему.</p>
	    </div>
	    <div class="new">
	    <h4>Ог Мандино</h4>
            <p>Неудача никогда не одолеет меня, если моя решимость добиться успеха достаточно сильна.</p> 
	    </div>
	    <div class="new">
	    <h4>Джейми Паолинетти</h4>
            <p>Ограничения живут только в нашем сознании. </p> 
	    <p>Но если мы используем свое воображение, наши возможности становятся безграничными.</p> 
	    </div>
	    <div class="new">
	    <h4>Альберт Эйнштейн</h4>
            <p>Стремитесь быть не успешным человеком, а скорее ценным человеком.</p> 
	    </div>
	    <div class="new">
	    <h4>Лао-Цзы</h4>
            <p>Когда я отпускаю то, кем я являюсь, я становлюсь тем, кем могу быть.</p> 
	    </div>
	    <div class="new">
	    <h4>Джейми Паолинетти</h4>
            <p>Воля к победе, желание добиться успеха, стремление полностью раскрыть свой потенциал... </p> 
	    <p>Вот ключи, которые откроют дверь к личному совершенству.</p> 
	    </div>
        </div>

        <div class="side">
            <div class="fakeimg1" style="height:730px;"><img src="../static/Book.jpg" width="1080" height="722"></div>
        </div>
    </div>

    <div class="footer1">
        <h4>	</h4>
    </div>
</body>

</html>