<!DOCTYPE html>
<html>

<head>
    <title>Goals Achievable</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <div class="navbar">
        <a href="index">Главная</a>
    </div>

    <div class="row">
        <div class="side">
            <div class="fakeimg1" style="height:730px;"><img src="../static/Rost.jpg" width="500" height="722"></div>
        </div>

        <div class="main">
            <h2>ПРО УСПЕШНЫЙ УСПЕХ</h2>
	    <div class="new">
	    <h4>Кто такой успех?</h4>
            <p>Успех — достижение поставленных целей в задуманном деле, положительный результат чего-либо, общественное признание чего-либо или кого-либо. В наиболее общем понимании успех — это умение осознавать свои цели и находить пути к их достижению. Кажется, что это определение очень простое, однако именно в нем проявляется вся субъективность понятия «успех». Подобно тому, как у каждого из живущих на земле людей различаются отпечатки пальцев, так же отличаются истинные цели и намерения каждого из нас. И когда мы находим путь к достижению своих целей, а также себе силы и решимость преодолеть этот путь, именно тогда мы по настоящему приближаемся к успеху.</p> 
	    </div>
	    <div class="new">
	    <h4>Принципы достижения успеха</h4>
            <p>· Бери и делай! Ни одно начинание не принесет результата без действий. Чем больше вы будете раздумывать над идеей — тем больше у вас возникает страхов. Так, любая цель останется лишь мечтой, если все время боятся сложностей. Только отбросив страх можно покорить верхушку айсберга!</p> 
	    <p>· Всегда говори «да». Каждое предложение, преподнесенное судьбой, имеет смысл. Прежде чем отказаться от чего-либо, необходимо трижды обдумать и проанализировать причину отказа и последствия. Зачастую, именно от необдуманного «нет» мы и упускаем перспективные шансы.</p>
	    <p>· Брось вызов самому себе! Человек, не стремящийся познать новое, скатывается по личностной лестнице вниз. Смысл нашей жизни заключается в постоянном развитии, самосовершенствовании и реализации намеченных целей. Помните: мы живем один раз. Глупо упускать возможности лежа на диване.</p>
	    </div>
        </div>

        <div class="side">
            <div class="fakeimg1" style="height:730px;">	</div>
        </div>
    </div>

    <div class="footer1">
        <h4>	</h4>
    </div>
</body>

</html>